/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  background-color: var(--c-10up-secondary);
  border-radius: 2rem;
  margin-inline: 1rem;
}

.heroBanner p {
  font-size: 1.25rem;
}

.heroBanner h1 {
  margin-bottom: 0;
}

.wapuu {
  margin-bottom: 2rem;
  height: 120px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-block: 6rem;
}

.gridItem {
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  position: relative;
}

.gridItem img {
  max-height: 6rem;
  max-width: 8rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.gridLink {
  margin-top: auto;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid var(--ifm-color-primary);
}

.gridLink:hover {
  text-decoration: none;
  color: var(--ifm-color-primary);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
}

.beta {
  display: inline-block;
  position: relative;
  top: -0.45em;
  background-color: var(--c-10up-secondary-dark);
  color: #000;
  font-size: 0.4em;
  padding: 5px 10px;
  border-radius: 8px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
