<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@10up/headless-framework</title>
	</head>
	<body>
		<section class="prompt">
			<h1>Sign in to proceed</h1>
			
			<a class="button google" href="/login/federated/google">Sign in with Google</a>
		</section>
	</body>
</html>